*,
*::after,
*::before {
    padding: 0;
    margin: 0;
}

html {
    font-size: 85%;
}

header, footer {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    height: 30rem;
    width: 30rem;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 15px;
    border-radius: 10%;
    background: slateblue;
}

main {
    height: 20rem;
    width: 20rem;
    border: 1px solid black;
    border-radius: 4%;
    background: white;
}

img {
    height: 15rem;
}

.metrics, .actions {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
}

div {
    padding: 10px;
}

#portrait {
    text-align: center;
    position: relative;
}

.animated {
    animation: animate 5s infinite;
}

@keyframes animate {   
    0% {top: 0px; left: 0px;}
    25% {top: 0px; left: 10px;}
    50% {top: 0px; left: 0px;}
    75% {top: 0px; left: -10px;}
    100% {top: 0px; left: 0px;}
}

button {
    margin: auto;
    border-radius: 10%;
}

.actions button {
    padding: 3px 10px;
}
